@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}
<!--THIS PAGE WILL ACT AS THE HOME PAGE-->
<!--Standard header-->
<div>
    <p>Welcome. These are the greatest films ever made according to Mr. Joel Hilton.</p>
    <br />
    <img src="~/ImageAssignmen3.jpg" />
</div>

<!--This link will take you to the movie submission form-->
<a asp-action="MovieForm">Click Here for Movie Submission Form</a>
<br />
<!--This link will take you to the Baconsale Podcast-->
<a asp-action="MyPodcasts">Click Here for Baconsale Podcast</a>